# San Francisco Airport - Clustering

In [1]:
# in this notebook we will preparing a airplane clustering mdoel

In [2]:
#import libraries

In [30]:
import pandas as pd
import warnings

warnings.filterwarnings('ignore')

from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
import matplotlib.pyplot as plt
from yellowbrick.cluster import KElbowVisualizer
from scipy.cluster.hierarchy import dendrogram, linkage
import ydata_profiling
from pycaret.clustering import*

In [4]:
#read the data

In [5]:
df=pd.read_csv("air-traffic-passenger-statistics (2).csv")

### EDA

In [7]:
# see first 5 cells

In [8]:
df.head()

,Activity Period,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count
0,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,27271
1,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,Terminal 1,B,29131
2,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,5415
3,200507,Air Canada,AC,Air Canada,AC,International,Canada,Deplaned,Other,Terminal 1,B,35156
4,200507,Air Canada,AC,Air Canada,AC,International,Canada,Enplaned,Other,Terminal 1,B,34090

In [9]:
#see data shape

In [10]:
df.shape

(18885, 12)

In [11]:
#see information from data

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18885 entries, 0 to 18884
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Activity Period              18885 non-null  int64
 1   Operating Airline            18885 non-null  object
 2   Operating Airline IATA Code  18822 non-null  object
 3   Published Airline            18885 non-null  object
 4   Published Airline IATA Code  18822 non-null  object
 5   GEO Summary                  18885 non-null  object
 6   GEO Region                   18885 non-null  object
 7   Activity Type Code           18885 non-null  object
 8   Price Category Code          18885 non-null  object
 9   Terminal                     18885 non-null  object
 10  Boarding Area                18885 non-null  object
 11  Passenger Count              18885 non-null  int64
dtypes: int64(2), object(10)
memory usage: 1.7+ MB

In [13]:
# see statisticcs about data

In [14]:
df.describe().T.round(2)

,count,mean,std,min,25%,50%,75%,max
Activity Period,18885.0,201179.29,385.76,200507.0,200811.0,201204.0,201509.0,201806.0
Passenger Count,18885.0,29876.74,60626.07,1.0,5352.0,9170.0,20718.0,659837.0

In [15]:
# see the corelaitons belong to data

In [16]:
df.corr()

                 Activity Period  Passenger Count
Activity Period         1.000000         0.050677
Passenger Count         0.050677         1.000000

In [17]:
# see datas columns names

In [18]:
df.columns

Index(['Activity Period', 'Operating Airline', 'Operating Airline IATA Code',
       'Published Airline', 'Published Airline IATA Code', 'GEO Summary',
       'GEO Region', 'Activity Type Code', 'Price Category Code', 'Terminal',
       'Boarding Area', 'Passenger Count'],
      dtype='object')

In [19]:
# is data have missing values? see

In [20]:
df.isnull().sum()

Activity Period                 0
Operating Airline               0
Operating Airline IATA Code    63
Published Airline               0
Published Airline IATA Code    63
GEO Summary                     0
GEO Region                      0
Activity Type Code              0
Price Category Code             0
Terminal                        0
Boarding Area                   0
Passenger Count                 0
dtype: int64

### Handdle missing values

In [22]:
#drop mising values

In [23]:
df.dropna(axis=0, inplace=True)

In [24]:
#chek

In [25]:
df.isnull().sum()

Activity Period                0
Operating Airline              0
Operating Airline IATA Code    0
Published Airline              0
Published Airline IATA Code    0
GEO Summary                    0
GEO Region                     0
Activity Type Code             0
Price Category Code            0
Terminal                       0
Boarding Area                  0
Passenger Count                0
dtype: int64

### preprocesing

In [27]:
#turn object columns into numeric

In [29]:
df_dummies = pd.get_dummies(df,drop_first=True)

### modeling

In [31]:
#setup df